<?xml version="1.0" encoding "UTF-8"?>
<!Doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="style" xml:lang="en" lang="en">

<style type = "text/css">
	
	body{color: #68c4ff; background: #565656;}	
	title{font-size: 3em text-color: #DF3A01;} 

</style>



<head>
<title>{% block title %}Error handling system{% endblock %}</title>
</head>

<body>
{% block content %}{% endblock %}
</body>

</html>
