{% extends "webgui/VeloView.html" %}

{% block detailedtrends %}
{% include "webgui/vv_navigation.html" with active_sidetab='sidetab3' %}
      <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="/static/style/JSRootInterface.css" />
      <script type="text/javascript" src="/static/scripts/JSRootInterface.js"></script>
     
      <input type="text" name="state" value="/static/files/h1.root" size="30" id="urlToLoad"/><br/>
      <script>ReadFile();</script>

      <div id='status'></div>  

      <div id='reportHolder' class='column'>
               <table id=reportable>
                    <tr id='report'></tr>
               </table>
      </div>

{% endblock %}
