{% extends "webgui/VeloView.html" %}

{% block title %}Overview{% endblock %}
{% block overview %}
{% include "webgui/vv_navigation.html" with active_sidetab='sidetab1' %}

<style type="text/css">

    #table1, td, th{
        border: 2px solid white;
    }
    th{
        background-color: snow;
        color: #000;
    }
    td{
        height: 50px;
        text-align: center;
        color: whitesmoke;
        max-width: 300px;
    }
</style>

<div id="overview">
    <table id="table1" border="1">
    <tr>
        <th>Run</th>
        <th>Starting Time</th>
        <th>DQ Status</th>
        <th>DQ Score</th>
        <th>NZS</th>
        <th>Clusters</th>
        <th>Tracks</th>
        <th>Vertices</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td>1</td>
        <td>01.01.2015 08:30</td>
        <td>Minor Problems</td>
        <td>74</td>
        <td>60</td>
        <td>60</td>
        <td>80</td>
        <td>96</td>
        <td>Low DQ Scores: Pedestals = 40%, Noise = 70%, FWHM = 40%, Cluster size = 75%, Track efficiencies
            = 60%</td>
    </tr>
    <tr>
        <td>2</td>
        <td>01.01.2015 09:20</td>
        <td>OK</td>
        <td>94</td>
        <td>92</td>
        <td>97</td>
        <td>95</td>
        <td>96</td>
        <td>Manual: OK</td>
    </tr>
    <tr>
        <td>2</td>
        <td>01.01.2015 10:35</td>
        <td>OK</td>
        <td>92</td>
        <td>96</td>
        <td>95</td>
        <td>100</td>
        <td>99</td>
        <td>Manual: OK</td>
    </tr>
    <tr>
        <td>3</td>
        <td>01.01.2015 11:40</td>
        <td>OK</td>
        <td>94</td>
        <td>92</td>
        <td>97</td>
        <td>97</td>
        <td>93</td>
        <td>Manual: OK</td>
    </tr>
    <tr>
        <td>4</td>
        <td>01.01.2015 12:30</td>
        <td>OK</td>
        <td>92</td>
        <td>96</td>
        <td>94</td>
        <td>93</td>
        <td>97</td>
        <td>Manual: OK</td>
    </tr>
    <tr>
        <td>5</td>
        <td>01.01.2015 13:40</td>
        <td>OK</td>
        <td>91</td>
        <td>96</td>
        <td>92</td>
        <td>95</td>
        <td>93</td>
        <td>Manual: OK</td>
    </tr>
    <tr>
        <td>6</td>
        <td>01.01.2015 14:20</td>
        <td>OK</td>
        <td>94</td>
        <td>92</td>
        <td>97</td>
        <td>95</td>
        <td>96</td>
        <td>Manual: OK</td>
    </tr>
    </table>
</div>
{% endblock %}
