{% extends "webgui/bbase.html" %}

{% block menutitle %}Sensor View{% endblock %}
{% block sensorview %}
{% include "webgui/main_navigation.html" with active_tab='tab2'%}
     
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="/static/style/JSRootInterfaceSV.css" />
      <script type="text/javascript" src="/static/scripts/JSRootInterface.js"></script>
     
      <input type="text" name="state" value="/static/files/h8.root" size="30" id="urlToLoad"/><br/>
      <script>reportTwo = true;</script>
      <script>ReadFile();</script>
  <!--    <script>showObject('h2',1);</script> -->

      <div id='status'></div>  

      <div id='reportHolder' class='column'>
               <table id=reportable>
                    <tr id='report'></tr>
                    <tr id='reportTwo'></tr> 
               </table>
      </div>

{% endblock %}
