CTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<style type = "text/css">

        body{color: #68c4ff; background: #565656;}
        h1{font-size: 3em text-color: #DF3A01;}
</style>

    <title>Page is unavailable</title>
</head>
<body>
    <h1>Page unavailable</h1>

    <p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>

    <p>Our engineers have been notified. Please check back later.</p>
</body>
</html>

