{% block tab %}

    <style type="text/css">
        #VertTabs ul{padding: 10px;margin: 0;list-style-type: none;}
        #VertTabs ul li{display: inline-block; clear: none; float: left; height: 35px}
        #VertTabs ul li a{
            position: relative;
            margin-top: 16px;
            display: block;
            margin-left: 6px;
            line-height: 24px;
            padding-left: 10px;
            background: #f6f6f6;
            z-index: 9999;
            border: 1px solid #ccc;
            border-bottom: 0;

            /*The following four lines are to make the top left and right corners of each tab rounded. */
            -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
            /*end of rounded borders*/

            width: 130px;
            color: #000000;
            text-decoration: none;
            font-weight: bold;
        }

        #VertTabs ul li a:hover{
            text-decoration: underline; /*Effect when mouse is over the tab text*/
        }

        #VertTabs #content_area{
            padding: 0 15px;
            clear:both;
            overflow: hidden;
            position: relative;
            top: 8px;
        }
    </style>


    <div id ="VertTabs">
        <ul>
            <li id="li_verttab1" onclick="tab('verttab1')"><a>Overview</a></li>
            <li id="li_verttab2" onclick="tab('verttab2')"><a>Trends</a></li>
            <li id="li_verttab3" onclick="tab('verttab3')"><a>Detailed Trends</a></li>
        </ul>
        <div id="vertContent_area">
            <div id="verttab1">
                <p>Coming soon</p>
            </div>
            <div id="verttab2" style="display:none;"><!-- We set verttab2's display as none because we don't wan to
            show this tab while verttab1 is active.-->
                <p>Check again later</p>
            </div>
            <div id="verttab3" style="display: none">
                <p>Nothing here yet</p>
            </div>

        </div><!--End of vertContent_area div -->
    </div><!--End of Tabs div-->

    <script type = "text/javascript">
        function verttab(verttab){
            document.getElementById('verttab1').style.display = 'none';
            document.getElementById('verttab2').style.display = 'none';
            document.getElementById('verttab3').style.display = 'none';
            document.getElementById('li_verttab1').setAttribute("class","");
            document.getElementById('li_verttab2').setAttribute("class","");
            document.getElementById('li_verttab3').setAttribute("class","");
            document.getElementById(verttab).style.display = 'block';
            document.getElementById('li_'+verttab).setAttribute("class","active");
        }
    </script>
{% endblock %}