<style type="text/css">

    #sidetab-menu ul {

        padding: 0px 0;
        margin-left: 200px;
        list-style-type: none;
        display: inline-block;

    }
    #sidetab-menu ul li {

        clear: none;
        float: left;
        font-size: 1.1em;
        color: #68c4ff;
        background: #eee;
        font-style: normal;
        font-family: Arial;

        border-left: 2px solid #ccc;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        border-right: 2px solid #fff;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 3px;
        padding-bottom: 3px;

        /* The following four lines are to make the top left and top right corners of each tab rounded. */
        -moz-border-radius-topleft: 18px;
        border-top-left-radius: 18px;
        -moz-border-radius-topright: 18px;
        border-top-right-radius: 18px;
    }
    #sidetab-menu ul li a{

        text-decoration: none;
        color: #565656;}
    #sidetab-menu ul li a:hover, a:active{background: #a2a2a2}

</style>

<div id="sidetab-menu">
    <ul>
        <li class="{% if active_sidetab != 'sidetab1' %}" active{% endif %}><a href="{% url 'webgui:IVscans' %}">IV Scans</a></li>
        <li class="{% if active_sidetab != 'sidetab2' %}" active{% endif %}><a href="{% url 'webgui:ITscans' %}">IT Scans</a></li>
        <li class="{% if active_sidetab != 'sidetab3' %}" active{% endif %}><a href="{% url 'webgui:HVscans' %}">HV Scans</a></li>
        <li class="{% if active_sidetab != 'sidetab4' %}" active{% endif %}><a href="{% url 'webgui:CCEscans' %}">CCE Scans</a></li>
        <li class="{% if active_sidetab != 'sidetab5' %}" active{% endif %}><a href="{% url 'webgui:IPresolution' %}">IP Resolution</a></li>
        <li class="{% if active_sidetab != 'sidetab6' %}" active{% endif %}><a href="{% url 'webgui:PVresolution' %}">PV Resolution</a></li>
    </ul>
</div>